/*
Name: Caleb Walker
Date Created: 11/30/18
Most recent revision: 11/30/18
*/

body {
    background-color: #ebebeb;
    color: #585858;
    margin: 0 auto;
}

header{
    background-color: #3a6ea5;
    color: #efefef;
    font-family: fantasy;
    margin-top: 20px;
}

.jumbotron{
    background-color: #3a6ea5;
    color: #efefef;
}

header h1{
    font-size: 4.0em;
}

footer{
    background-color: #3a6ea5;
    color: #efefef;
    text-align: center;
}

nav{
    border-top: thin #ebebeb solid;
    border-bottom: thin #ebebeb solid;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 10px;
}

nav a:visited{
    background-color: #4e5565;
}
            
nav .btn{
    background-color: #273043;
    color: #ebebeb;
}
            
nav .btn:hover{
    font-weight: bold;
}